.BookAndSuppliesLayout {
    display: flex;
    height: 500px;
    aside {
        flex: 0 1 30%;

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid red;

        a {
            padding: 3px;
        }
    }

    .content {
        flex: 0 1 70%;
        border: 1px solid blue;

        padding: 10px;
    }
}
